*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin: 0;
    background-image: url('../images/bg.jpg');
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: auto auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Searchbar */
.searchInputBox{
    text-align: center;
    background-color: rgba(240, 248, 255, 0.6);
    width: 80vw;
    margin: auto;
    padding: auto;
    border-radius: 5px;
}
.searchInputBox>*{
    margin-top: 50px;
}
.input-box {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border:none;
    outline:none;
    color:#582233;
    font-size:1.2rem;
    height:50px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input-box:focus{
    background-color:rgba(255, 255, 255);
}
.searchInputBox .button{
    height:45px;
    width:100px;
    border-radius: 5px;
    color: #582233;
    background-color:rgba(255, 255, 255, 0.6) ;
    border-width: 0em;
}
.searchInputBox .button:hover{
    background-color:rgba(219, 219, 219, 0.6);
}

/*Weather Result Boady*/
.container-box{
    background-color:rgba(240, 248, 255, 0.6) ;
    width: 80%;
    margin:50px 20px;
    padding: 20px;
    border-radius: 5px;
    max-width: 900px;
}
.weather-body{
    color: #582233;
    background-color:rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 5px;
    height: 100%;
    overflow: auto;
}
.weather-body li{
    display: inline-block;
}
.weather-body ul{
    margin-top:-12px;
    font-size: 1.2rem;
    font-weight: 500;
}
.place{
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 10px;
}
.temp{
    font-size: 5rem;
    font-weight: bolder;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}
.temp-set li{
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
}
.tile-2 {
    text-align: center;
}
.tile-2 img{
    width: 100%;
}
.tile-3 {
    text-align: end;
}
.day{
    margin-top:-15px;
    font-size: 1.5rem;
}
.date{
    font-size: 1.2rem;
}
.wind{
    margin-top: 35px;
}
.preci{
    margin-top: 8px;
}
.weather{
    font-size: 2rem;
    font-weight: 700;
}
@media (max-width: 768px) {
    .tile-1, .tile-2, .tile-3{
        text-align: center;
    }
    .tile-2 img{
        width: 40%;
    }
}
@media (max-width: 576px) {
    .place{
        font-size: 10vw;
    }
}
@media (max-width: 280px) {
    .temp{
        font-size: 16vw;
    }
    .temp-set li{
        font-size: 6vw;
    }
}

/* Forward and Backward Buttons*/
.bkbt{
    float: left;
}
.fwdbt{
    float: right;
}
.forwardButton, .backwardButton{
    border: none;
    overflow-x: visible;
}
.forwardButton:disabled, .backwardButton:disabled{
    color: gray !important;
    opacity: 0.5;
    background-color: #582233;
}
.bkbt .fa-angle-double-left{
    font-size: 5rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.fwdbt .fa-angle-double-right{
    font-size: 5rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
@media (max-width: 768px){
    .bkbt .fa-angle-double-left , .fwdbt .fa-angle-double-right {
        font-size: 2rem;
    }
}